* {
    font-family: sans-serif;
}

.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.a-center {
    align-items: center;
}

.w-100 {
    width: 100%;
}

.j-end {
    justify-content: end;
}

.j-start {
    justify-content: start;
}

.d-none {
    display: none;
}