.new-post {
    width: 97%;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input {
    color: transparent;
    border: 2px dashed rgb(213, 213, 213);
    border-radius: 10px;
    height: 100px;
    padding-top: 60px;
    cursor: pointer;
    z-index: 10;
    width: 95%;
    margin-bottom: 15px;
}

.custom-file-input::before {
    content: 'Choose an image for your post';
    color: black;
    text-align: center;
    display: block;
    margin: auto;
}

.upload-icon {
    position: absolute;
    left: 48%;
    top: 25px;
    font-size: 25px !important;
}

textarea {
    width: 95%;
    height: 130px;
    border: 1px solid rgb(213, 213, 213);
    resize: vertical;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
}

.save-btn {
    color: #fff;
    background-color: #05f;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin-left: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.save-btn:hover {
    background-color: rgb(66, 159, 247)
}

.edit-icon {
    color: #1E74FD;
}

.edit-icon-container {
    font-size: 25px;
    background-color: #f5f5f5;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.section-title {
    margin-left: 2.5%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    margin-left: 10px;
    margin-top: 25px;
    color: #adb5bd;
}

.uploaded-image {
    width: 50%;
    margin-bottom: 15px;
    border-radius: 5px;
}

.message {
    margin: 0px;
    margin-left: 20px;
    width: 100%;
}

.delete-post-btn {
    margin-right: 2.5%;
    background-color: red;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.delete-post-btn:hover {
    background-color: rgb(247, 73, 73);
}

.remove-friend {
    background-color: red;
    height: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}